.contact-form {
    padding: 40px 0;
}

.contact-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 32px;
}

.contact-input {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    height: 50px;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
    padding: 0px 20px;
    color: #222;
    max-width: 100%;
    min-width: 100%;
    font-family: 'Roboto', sans-serif;
}

.contact-textare {
    min-height: 100px;
    padding: 20px;
}

.contact-input:focus {
    outline: none !important;
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 10px #e5e5e5;
}

.contact-col {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 16px;
}

.contact-row {
    margin-left: -16px;
    margin-right: -16px;
}

.contact-button {
    color: white;
    padding: 8px 32px;
    text-align: center;
    border: 0px;
    font-size: 18px;
    cursor: pointer;
}

.contact-col__button {
    display: flex !important;
    justify-content: center;
}